.crew-card {
  min-width: 12rem;
  max-width: 13rem;
  height: 18rem;
}

.crew-card img {
  object-position: center;
  border-radius: .4rem;
  object-fit: cover;
  aspect-ratio: 9/16;
}

.bw-gradient {
  background: linear-gradient(360deg, rgb(0, 0, 0) 60%, rgba(255, 255, 255, 0) 100%);
}