.crew-card {
  aspect-ratio: 10/16;
  height: 18rem;
}

.crew-card img {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: .4rem;
  object-fit: cover;
  aspect-ratio: 9/16;
}

.bw-gradient {
  background: linear-gradient(360deg, rgb(0, 0, 0) 40%, rgba(255, 255, 255, 0) 100%);
}