footer {
	@apply shadow dark:shadow-gray-800 shadow-current
}

.fluid {
	aspect-ratio: 1/1;
	border-radius: 50%;
	transition: ease-in-out 1s;
	overflow: hidden;
	box-shadow: 2px 2px 3px 1px #8100df;
}

.fluid svg {
	transition: 1s;
	margin: auto;
}

.fluid:hover {
	scale: 1.2;
	box-shadow: 0 0 1px .1px #8100df, 6px 6px 1px -1px #8100df;
}