@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
	box-shadow: 0 0 2px #7f7f7f !important;
}

.mui-modal {
	max-height: 90dvh;
	overflow-y: auto;
	background-color: #dbd9d9;
}

html {
	overscroll-behavior: none;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	padding: 0 !important;
}

.btn {
	@apply py-2 px-4 rounded border-slate-800
}

.mdb-page {
	@apply dark:bg-mdb-dark-100 dark:text-mdb-light-100
}

a,
button {
	transition: linear .2s;
}

.active {
	box-shadow: 0 -2px 0 red inset;
}

@media (max-width:768px) {
	.active {
		box-shadow: -5px 0 1px 0px red inset;

	}
}

h6 {
	font-size: clamp(1.5rem, (100vw - 300px), 2rem);
}

.text-shadow {
	text-shadow: 0 0 1px black;
}

input,
textarea {
	outline: .1px solid rgb(162, 158, 158);
}

input:focus,
textarea:focus {
	outline: 2px solid gray;
}

.edl {
	scroll-behavior: smooth;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.edl::-webkit-scrollbar {
	display: none;
}

.scroll-none::-webkit-scrollbar {
	display: none;
}

.modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	border: 1px solid #000;
	box-shadow: 0 0 2px;
	padding: 2rem;
}

/* TMP BEGIN */
* {
	/* border: .1px solid red; */
}

/* TMP END */