@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
	box-shadow: 0 0 10px #7f7f7f !important;
}

html {
	overscroll-behavior: none;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.btn {
	@apply py-2 px-4 rounded border-slate-800
}

.mdb-page {
	@apply dark:bg-mdb-dark-100 dark:text-mdb-light-100
}

a,
button {
	transition: linear .2s;
}

h6 {
	font-size: clamp(1.5rem, (100vw - 300px), 2rem);
}

.text-shadow {
	text-shadow: 0 0 1px black;
}

input,
textarea {
	outline: .1px solid rgb(162, 158, 158);
}

input:focus,
textarea:focus {
	outline: 2px solid gray;
}

/* TMP BEGIN */
* {
	/* border: .1px solid red; */
}

/* TMP END */